# Include everything the framework requires
# You will automatically get updates for all versions starting with "1.".
rlbot==1.*

--find-links https://download.pytorch.org/whl/torch_stable.html
#torch>=1.11.0+cu115
torch>=1.11.0
rlgym-compat==1.*
rlgym-tools==1.*
tqdm
trueskill
msgpack_numpy
wandb
pygame
keyboard
redis
rlgym
plotly
numba

git+https://github.com/Rolv-Arild/rocket-learn.git@92a08ef09cb2294b91b6b5748b7967ea0e2314e4